{% extends "base.html" %}

{% block content %}
    <div class="d-flex justify-content-center align-content-center">

        <div>
            <h1>Присоединятесь прямо сейчас!</h1><br>
            <a class="btn btn-success btn-lg m-5 text-lg-center" href="login"
               style="width: 13rem; height: 3rem">Войти</a>
            <a class="btn btn-success btn-lg m-5 text-lg-center" href="register"
               style="width: 13rem; height: 3rem">Зарегестрироваться</a>
        </div>

    </div>
{% endblock %}