{% extends "base.html" %}

{% block content %}
    <h1 class="mr-auto text-white">Публикации пользователей</h1>
    <div>
        <form class="row platform ml-auto" id="sort_form" style="max-width: 50%"
              onsubmit="sort_form(this); return false">
            <label for="sort_select" class="col-auto m-auto">Сортировка</label>
            <select class="form-control col m-auto" name="sort" id="sort_select">
                <option sort-value="sort=time&reverse=true" selected>Время</option>
                <option sort-value="sort=rating&reverse=true">Рейтинг</option>
                <option sort-value="sort=user_name">Имя пользователя</option>
            </select>
            <input class="form-check-input col-auto position-relative my-auto mx-2"
                   sort-value="user_rating=false" name="rated" id="rate_filter" type="checkbox">
            <label for="rate_filter" class="col-auto m-auto pl-0">Без оценки</label>
            <button type="submit" class="btn btn-md btn-outline-primary col-auto m-auto">Принять</button>
        </form>
    </div>
    <div class="row">
        {% for i in posts %}
            <div class="col-lg-4 my-3" post-id="{{ i['id'] }}">
                <img class="post-image-sm post-link" src="/api/image/{{ i['image_id'] }}" align="Image"
                     onclick="load_post({{ i['id'] }})">
                <div class="d-flex">
                    <img class="avatar-xsm m-1" src="/api/image/{{ i['avatar_id'] }}" alt="Avatar">
                    <h3 class="mx-2 my-auto text-white">
                        <a class="profile-link"
                           href="/profile/{{ i['user_id'] }}"
                        >{{ i['user_name'] }}</a></h3>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}