{% extends "base.html" %}

{% set own_profile = (user_id == user.get('id', None) or is_admin) %} }}

{% block head %}
    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-3 m-2 text-center">
            <img src="{{ '/api/image/' + user.get('avatar_id', 0)|string }}"
                 class="avatar-lg" alt="..." id="avatar">
            {% if own_profile %}
                <br>
                <button class="btn-md btn-outline-primary my-2"
                        style="background-color: transparent; border-radius: 4px"
                        data-toggle="modal" data-target="#avatarUploadModal"
                >Загрузить изображение
                </button>
            {% endif %}
        </div>

        <div class="col-lg-7 m-2">
            <div class="platform py-1 my-2">
                <div class="d-flex flex-nowrap show-child-icons">
                    <h1 class="" text-update-url="/api/user/{{ user.get('id', None) }}" text-update-value="name"
                        id="name_label" status-badge="#name_sb"
                    >{{ user.get('name', "<unknown>") }}</h1>
                    {% if own_profile %}
                        <i class="far fa-edit mb-auto m-1 parent-hover"
                           onclick="text_update_input('#name_label')"></i>
                        <div class="status-badge mb-auto ml-auto" id="name_sb"></div>
                    {% endif %}
                </div>
            </div>
            <div class="platform py-1 my-2" style="max-height: 15rem">
                <div class="d-flex flex-nowrap show-child-icons">
                <pre text-update-url="/api/user/{{ user.get('id', None) }}" class="m-0"
                     id="optional_info_label" text-update-value="info"
                     status-badge="#oil_badge" style="font-size: 100%; max-height: 14.5rem"
                >{{ user.get('info', 'Нет информации') }}</pre>
                    {% if own_profile %}
                        <i class="far fa-edit mb-auto m-1 parent-hover"
                           onclick="text_update_input('#optional_info_label')"></i>
                        <div class="status-badge mb-auto ml-auto" id="oil_badge"></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="ml-auto">
        <form class="row">
            <h4 class="text-white col-auto">Сортировка</h4>
            <a class="btn btn-outline-info btn-md col-auto mx-2" href="?sort=time&reverse=true">Время</a>
            <a class="btn btn-outline-info btn-md col-auto mx-2" href="?sort=rating&reverse=true">Рейтинг</a>
        </form>
    </div>

    <div class="row flex-wrap">
        {% for i in posts %}
            <div class="col-md-3 my-3" post-id="{{ i['id'] }}">
                <img class="post-image-sm post-link" alt="Image"
                     src="/api/image/{{ i['image_id'] }}"
                     onclick="load_post({{ i['id'] }})">
            </div>
        {% endfor %}
    </div>

    {% if own_profile %}
        <div class="modal fade" id="avatarUploadModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Сменить аватар</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body d-flex">
                        <input type="file" class="form-control-file" id="avatar_input"
                               status-badge="#err" style="width: auto">
                        <div class="status-badge my-auto" id="err"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}