{% extends "loading.html" %}

{% block body %}
    <a class="btn btn-outline-dark" href="{{ request.headers.get('referrer', 'index') }}">
        back</a>
    <div align="middle">
        <form method="post" novalidate>
            <p>{{ form.hidden_tag() }}</p>
            {% for i in form %}
                {% if i.name not in ['csrf_token', 'submit'] %}
                    {{ i.label }}<br>
                    {{ i }}<br>
                    {% if form.errors.get(i.name) %}
                        <div class="alert alert-danger">
                            {% for error in form.errors.get(i.name) %}
                                {{ error }}<br>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <div>
                <button class="btn btn-primary m-2"
                        type="submit">
                    Sign Up
                </button>
                {% if form.errors.get('account', None) %}
                    <div class="alert alert-danger">
                        {% for i in form.errors['account'] %}
                            {{ i }}<br>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}
